.TablesPage {
  .neo-table-example {
    border: 1px solid #c9c9c9;
    padding-block: 2em;
    border-radius: 4px;
  }

  .grid-example {
    height: 100%;
    min-height: 200px;
    width: 100%;
  }
}
