.FormsPage {
  // padding: 4em;

  .PocForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-start: 1em;
    max-width: 50ch;

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 1em;
    }
  }
}
