#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;

  .neo-navbar {
    flex: 0 0 auto;
  }

  .DemoPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2em;

    h1,
    h2,
    h3 {
      margin-block: 0.3em;
    }
  }
}
